#resume-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 确保容器至少占满视口高度 */
    min-height: 100vh; 
    /* 可选：添加一些内边距 */
    padding: 20px; 
}

#resume-content embed {
    /* 可以根据需求调整宽度和高度 */
    width: 80%;
    height: 800px; 
    /* 可以添加其他样式，如边框 */
    border: 1px solid #ccc; 
}